@model ProcCore.Business.DB0.NewsContent
@{
    ViewBag.Title = "最新消息內容";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">NEWS & EVENTS</h2>
    <ul id="marquee" class="marquee">
        @foreach (var title in Model.title)
        {
            <li>@title</li>
        }
    </ul>
</header>

<article>
    <header>@Model.item.news_title</header>
    <h4>@Model.item.news_date.ToString("yyyy/MM/dd")</h4>

    <!-- 版型一 圖置右 -->
    <img src="@Model.item.imgsrc" alt="插圖" class="float-r">
    @Html.Raw(Model.item.news_content)

    <!-- 版型二 圖置左-->
    <!--
    <img src="@Model.item.imgsrc" alt="插圖" class="float-l">
    @Html.Raw(Model.item.news_content)
    -->
</article>
<div class="text-right"><a href="~/News" class="btn">回列表</a></div>