@model ProcCore.Business.DB0.NewsInfo
@{
    ViewBag.Title = "最新消息列表";
    ViewBag.BodyClass = "News";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">NEWS & EVENTS</h2>
    <!-- 最新日期前3則 -->
    <ul id="marquee" class="marquee">
        @foreach (var title in Model.title)
        {
            <li>@title</li>
        }
        @*<li>敬邀 2014 第十七屆中國國際膠黏劑及密封劑展</li>
            <li>sponsored Chinese Professional Baseball League (CPBL)</li>
            <li>26th Taipei Internation Building, Construction & Decoration Exhibition,2014</li>*@
    </ul>
</header>

@foreach (var item in Model.News)
{
    <figure class="col-4">
        <div class="cover"><img src="@item.imgsrc" alt="NEWS配圖"></div>
        <figcaption>
            <h3><small>@item.news_date.ToString("yyyy/MM/dd")</small>@item.news_title</h3>
            <!-- 局部文字只顯示40字，後面加... -->
            <p>
                @if (item.news_intro.Length > 40)
                {
                    @item.news_intro.Substring(0, 40)<span>...</span>
                }
                else
                {
                    @item.news_intro
                }
            </p>
            <a href="~/News/Content?id=@item.news_id" class="btn">READ MORE</a>
        </figcaption>
    </figure>
}


@*<!-- 以最新日期排序 -->
    <figure class="col-4">
        <div class="cover"><img src="~/Content/images/News/temp.jpg" alt="NEWS配圖"></div>
        <figcaption>
            <h3><small>2015/8/28</small> 敬邀 2014 第十七屆中國國際膠黏劑及密封劑展</h3>
            <!-- 局部文字只顯示40字，後面加... -->
            <p>今年富利源推出新綠色節能概念之環保膠水 - 一液型水性PU膠, 水性硫化膠, 水性CR膠及生質TPU樹脂....</p>
            <a href="~/News/Content" class="btn">READ MORE</a>
        </figcaption>
    </figure>

    <figure class="col-4">
        <div class="cover"><img src="~/Content/images/News/temp2.jpg" alt="NEWS配圖"></div>
        <figcaption>
            <h3><small>2015/8/27</small> sponsored Chinese Professional Baseball League (CPBL)</h3>
            <!-- 局部文字只顯示40字 -->
            <p>Nan Pao Resins Group has been supported Chinese Profesional Baseball...</p>
            <a href="~/News/Content" class="btn">READ MORE</a>
        </figcaption>
    </figure>

    <figure class="col-4">
        <div class="cover"><img src="~/Content/images/News/temp3.jpg" alt="NEWS配圖"></div>
        <figcaption>
            <h3><small>2015/8/26</small> 26th Taipei Internation Building, Construction & Decoration Exhibition,2014</h3>
            <!-- 局部文字只顯示40字 -->
            <p>Resins is pleased to inform that we will take part at Taipei Internation Building...</p>
            <a href="~/News/Content" class="btn">READ MORE</a>
        </figcaption>
    </figure>

    <figure class="col-4">
        <div class="cover"><img src="~/Content/images/News/temp4.jpg" alt="NEWS配圖"></div>
        <figcaption>
            <h3><small>2015/8/25</small> Service Vehicle for Seniors and Police Car Donation</h3>
            <!-- 局部文字只顯示40字 -->
            <p>Resins support the local service office of Huashan Social Welfare Foundation for...</p>
            <a href="~/News/Content" class="btn">READ MORE</a>
        </figcaption>
    </figure>*@
