@model ProcCore.Business.DB0.ProductInfo
@{
    ViewBag.Title = "Products";
    ViewBag.BodyClass = "Products";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<header>
    <h2 class="title">PRODUCTS</h2>
    <ul id="marquee" class="marquee">
        <li>We produce water-based adhesive, polyurethane peactive (PUR), eco hot-melt adhesive. Our products are used in automotive industry, disposable hygiene industry, cigarette manufacturing, medical equipments, the laminating technology in textile industry, packaging, DIY, woodworking, furniture, etc.</li>
        <li>We sell eco light-blocking fabric material worldwide. The output of lamination printing is 200 million meters per month.</li>
        <li>We are authorized to sell macromolecule-related products by world renowned corporations, including polyester polyol, EVA emulsion, acrylic acid emulsion, etc.</li>
    </ul>
</header>

<aside>
    <!-- 點選該產品時加入 class="current" -->
    @foreach (var i in Model.list)
    {
        if (i.p_id == ViewBag.ID)
        {
            <a href="~/Products?id=@i.p_id" class="current">@i.p_name</a>
        }
        else
        {
            <a href="~/Products?id=@i.p_id">@i.p_name</a>
        }
    }
    @*<a href="~/Products" class="current">DIY glue stick</a>
        <a href="~/Products">Industrial glue stick</a>
        <a href="~/Products">Flame retardant glue stick</a>
        <a href="~/Products">Plastic tile industry</a>
        <a href="~/Products">CAR industry</a>
        <a href="~/Products">Electronic industry</a>
        <a href="~/Products">SHOE industry</a>
        <a href="~/Products">PACKAGING</a>
        <a href="~/Products">Cloth&Printing</a>
        <a href="~/Products">Woodworking&Decoration</a>
        <a href="~/Products">Tape&Label</a>
        <a href="~/Products">Other application</a>
        <a href="~/Products">Hot melt Pressure Sensitive Adhsive(HMPSA)</a>
        <a href="~/Products">Solution Type hot melt Adhsive</a>*@
</aside>


<article>
    <header>HOT MELT ADHESIVE DIVISION</header>
    <h3>@Model.Product.product_name</h3>
    <table>
        <caption>
            @Model.Product.product_info
        </caption>
        <tr>
            <th>Item no.</th>
            <th>Appearance</th>
            <th>Viscosity</th>
            <th>Soften Point</th>
            <th>Remark</th>
        </tr>

        @foreach (var detail in Model.ProductStandard)
        {
            <tr>
                <td>@detail.item_no</td>
                <td>@detail.appearance</td>
                <td>@detail.viscosity</td>
                <td>@detail.soften_point℃</td>
                <td class="text-left">@detail.remark</td>
            </tr>
        }
    </table>
    <p class="tip">@Model.Product.product_note</p>
</article>