<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @* <meta name="keywords" content="@Resources.ResWeb.keywords">
    <meta name="description" content="@Resources.ResWeb.description"> *@
    <title>OLEC Technology Co., Ltd 86597773:@ViewBag.Title</title>

    <!--[if lt IE 9]><script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->
    <script src="~/Scripts/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>

    <link rel="stylesheet" href="~/Content/css/swiper.css">
    @if (ViewBag.IsFirstPage) {
    <link rel="stylesheet" href="~/Content/css/index.css">
    } else {
    <link rel="stylesheet" href="~/Content/css/page.css">
    }
    <link rel="stylesheet" href="~/Content/css/en.css">
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

<div id="wrapper">

    <section id="header">
        <div class="wrap">
            <h1 onclick="location.href='@Url.Content("~/index")'" title="HOME">Ocean Land Enterprise Co., Ltd | OLEC Technology Co., Ltd</h1>
            <nav id="menu">
                <a href="~/index">HOME</a>
                <a href="~/AboutUs">ABOUT US</a>
                <a href="~/Products">PRODUCTS</a>
                <a href="~/News">NEWS</a>
                <a href="~/ContactUs">CONTACT US</a>
            </nav>
            <nav class="top-nav">
                <a href="@Url.Action("SetLanguage")?L=zh-TW&A=index">::繁體中文</a>
                <a href="@Url.Action("SetLanguage")?L=en-US&A=index">::English</a>
            </nav>
        </div><!-- wrap //-->
        <div id="banner" class="swiper-container">
            <div class="swiper-wrapper">
            @if (ViewBag.IsFirstPage)
            {
                <li class="swiper-slide i1">banner 1</li>
                <li class="swiper-slide i2">banner 2</li>
                <li class="swiper-slide i3">banner 3</li>
            }
            else
            {
                <li class="swiper-slide i1">banner 1</li>
                <li class="swiper-slide i2">banner 2</li>
            }
            </div>
        </div><!-- banner //-->
    </section><!-- header //-->

    <main>
        @RenderBody()
    </main>

</div><!-- wrapper //-->

<section id="footer">
    <ul class="list-inline">
        <li>No.28, Ln. 452, Gaoyang N. Rd., Longtan Dist., Taoyuan City 325, Taiwan (R.O.C.)</li>
        <li><em>TEL:</em>+886 3-411-7500<br><em>FAX:</em>+886 3-411-7963</li>
        <li><em>Mail:</em><a href="mailto:super@olecgroup.com">super@olecgroup.com</a></li>
    </ul>
    <div class="copyright"><span>OLEC</span>&copy; 2015 OLEC Technology Co., Ltd 86597773</div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1810.3706362840921!2d121.20784130000001!3d24.838520100000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34683c48d5c20e31%3A0x72e8b31495e66ceb!2zMzI15qGD5ZyS5biC6b6N5r2t5Y2A6auY5qWK5YyX6LevMjjomZ8!5e0!3m2!1szh-TW!2stw!4v1440400062208" width="620" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
</section><!-- footer -->

<script src="//code.jquery.com/jquery-latest.min.js"></script>
<script src="~/Content/js/swiper.jquery.min.js"></script>
<script src="~/Content/js/scroll.js"></script>
<script src="~/Content/js/jquery.marquee.min.js"></script>

<script>
// 跑馬燈
$("#marquee").marquee();

// swiper 輪播圖
var mySwiper = new Swiper('#banner',{
    loop: true,
    autoplay: 4000,
    speed: 1000,
    effect: 'fade',
    autoplayDisableOnInteraction: false
})
</script>

@RenderSection("Scripts", required: false)

</body>
</html>